name: Deployment

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  PROJECT_ID: unique-machine-360813
  GAR_LOCATION: us-west1
  SERVICE: remo-store
  IMAGE: remo-store

jobs:
  delete-existing-images:
    name: Delete existing Docker images
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
        - name: Google Auth
          id: auth
          uses: 'google-github-actions/auth@v2'
          with:
            token_format: 'access_token'
            workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
            service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

        - name: Set up Cloud SDK
          uses: 'google-github-actions/setup-gcloud@v2'

        - name: Delete existing docker image
          run: gcloud artifacts docker images delete '${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}/${{ env.IMAGE }}' --delete-tags || (echo "Already deleted."; exit 0)

  push-to-artifact-registry:
    name: Push Docker image to Artifact Registry (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    needs: delete-existing-images
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v3'
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/${{ matrix.arch }}
          tags: '${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}/${{ env.IMAGE }}:${{ github.sha }}-${{ matrix.arch }}'
          provenance: 'false'
  
  create-multiarch-manifest-on-artifact-registry:
    name: Create and Push Multi-Arch Manifest
    runs-on: ubuntu-latest
    needs: push-to-artifact-registry

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker for GAR
        run: gcloud auth configure-docker ${{ env.GAR_LOCATION }}-docker.pkg.dev --quiet

      - name: Create and push multi-arch manifest with SHA tag
        env:
          DOCKER_CLI_EXPERIMENTAL: enabled
        run: |
          MANIFEST_SHA="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}/${{ env.IMAGE }}:${{ github.sha }}"
          IMAGE_AMD64="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}/${{ env.IMAGE }}:${{ github.sha }}-amd64"
          IMAGE_ARM64="${{ env.GAR_LOCATION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.SERVICE }}/${{ env.IMAGE }}:${{ github.sha }}-arm64"

          docker manifest create "${MANIFEST_SHA}" \
            --amend "${IMAGE_AMD64}" \
            --amend "${IMAGE_ARM64}"
          
          docker manifest push "${MANIFEST_SHA}"

